<header class="header-login main-background">
    <a href="#/"><img class="header-logo" src="images/logos/messengers-logo_black.png"></a>
</header>
<div class="login-page container">
    <form class="form-signin" ng-submit="signin(form)">
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" class="form-control" ng-model="form.username" placeholder="Email address" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" ng-model="form.password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>
<!-- Modal window: Invalid pass or username - UI-bootstrap-->
<script type="text/ng-template" id="app/common/templates/msg-modal.tpl.html">
    <div class="modal-header text-center">
        <h2 class="modal-title">{{modalWindow.header}}</h2>
    </div>
    <div class="modal-body text-center">
        <img ng-src="{{modalWindow.source}}" width="100px">
        <h4>{{modalWindow.body}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Закрити</button>
    </div>
</script>
