
<msg-header></msg-header>
<main class="create-page">
    <form name="createForm" role="form" ng-submit="addOrder(newOrder)">
        <h2>Форма замовлення</h2>
        <p class="lead">Заповніть нижченаведені поля форми, вказавши деталі замовлення. Поля, що позначені зірочкою *, є обов'язковими. Після відправлення форми протягом 20 хвилин з вами зв'яжеться диспетчер</p>
        <fieldset>
            <legend>Інформація про замовника</legend>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="name">Ім'я *</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" data-ng-model="newOrder.firstname" placeholder="Введіть ім'я" data-ng-required="true">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                    </div>
                </div>
                <div class="form-group  col-lg-6">
                    <label for="surname">Прізвище *</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="surname" data-ng-model="newOrder.lastname" placeholder="Введіть прізвище" data-ng-required="true">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="email">Email *</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" data-ng-model="newOrder.email" placeholder="Введіть адресу email" data-ng-required="true">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    </div>
                </div>
                <div class="form-group  col-lg-6">
                    <label for="phone">Телефон у форматі 0ХХ-ХХХ-ХХ-ХХ *</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" pattern="0[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" id="phone" data-ng-model="newOrder.phone" placeholder="Введіть номер телефону" data-ng-required="true">
                        <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Деталі замовлення</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="dt">Дата виконання *</label>
                    <p class="input-group">
                        <input type="text" id="dt" data-ng-model="newOrder.dt" class="form-control" uib-datepicker-popup="{{format}}" is-open="popup.opened" datepicker-options="dateOptions" data-ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" data-ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group  col-lg-6">
                    <label for="type">Категорія доставки *</label>
                    <br>
                    <select id="type" data-ng-model="newOrder.type" data-ng-required="true">
                        <option data-ng-selected="true" value="" disabled>Оберіть категорію</option>
                        <option value="rush">Термінова</option>
                        <option value="standard">Стандарт</option>
                        <option value="economy">Економ</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="adress_pickup">Адреса місця забору вантажу *</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="adress_pickup" data-ng-model="newOrder.adress_pickup" placeholder="вул. Наукова, 3А" data-ng-required="true">
                    <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="adress_delivery">Адреса місця видачі вантажу *</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="adress_delivery" data-ng-model="newOrder.adress_delivery" placeholder="вул. Козельницька, 2А" data-ng-required="true">
                    <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Інформація про вантаж</legend>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="weight">Вага вантажу *, кг</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="weight" data-ng-model="newOrder.weight" min="1" max="50" placeholder="Вкажіть вагу - ціле число від 1 до 50" data-ng-required="true">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="dimensions">Габарити вантажу *, см</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="dimensions" data-ng-model="newOrder.dimensions" placeholder="Д х Ш х В" data-ng-required="true">
                        <span class="input-group-addon glyphicon glyphicon-resize-horizontal"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Опис вантажу</label>
                <br>
                <textarea rows="4" id="description" data-ng-model="newOrder.description">Опишіть ваш вантаж</textarea>
            </div>
            <div class="form-group">
                <label for="add_info">Додаткова інформація</label>
                <br>
                <textarea rows="4" id="add_info" data-ng-model="newOrder.add_info">При необхідності вкажіть додаткову інформацію, застереження, побажання</textarea>
            </div>
        </fieldset>
        <a class="btn btn-danger btn-lg" href="#/">Відмінити</a>
        <button type="submit" class="btn btn-primary btn-lg pull-right">Замовити</button>
    </form>
</main>

<msg-footer></msg-footer>

<!-- Modal window: Order created - UI-bootstrap-->
<script type="text/ng-template" id="orderCreatedModal.tpl.html">
    <div class="modal-header text-center">
        <h2 class="modal-title">Ваше замовлення створене</h2>
    </div>
    <div class="modal-body text-center">
        <img src="images/emoticons/monster_love.png" width="100px">
        <h4>Протягом 20 хвилин з вами зв'яжеться диспетчер</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Закрити</button>
    </div>
</script>

<!-- Header directive template-->
<script type="text/ng-template" id="app/common/templates/msg-header.tpl.html">
    <header data-ng-class="{hide: isHide('/login')}">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <img class="navbar-brand-logo" src="images/logos/messengers-logo_white.png" alt="Messengers delivery logo">
                    </a>
                    <a href="#/create">
                        <button type="button" id="toggle-button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}]" class="navbar navbar-toggle collapsed btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Bike messengers</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{ active: isActive('/')}"><a href="#/">Головна</span></a></li>
                        <li data-ng-class="{ active: isActive('/conditions')}" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Тарифи та умови <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/conditions">Карта доставки</a></li>
                                <li><a href="#/conditions#prices">Тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#add-prices">Додаткові тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#payment">Способи оплати</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контакти <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Телефони</li>
                                <li><a href="tel:0978654321">+38 097 8654321</a></li>
                                <li><a href="tel:0501234567">+38 050 1234567</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">E-mail</li>
                                <li><a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Skype</li>
                                <li><a href="skype:messengers.lviv?add">messengers.lviv</a></li>
                            </ul>
                        </li>
                        <li data-ng-class="{ active: isActive('/admin')}"><a href="#/admin">Admin page</a></li>
                        <li data-ng-if="currentUser() !== null"><a href=""><span class="glyphicon glyphicon-user"></span> {{currentUser()}}</a></li>
                        <li data-ng-if="currentUser() !== null"><a href="" ng-click="signout()">Log out</a></li>
                    </ul>
                    <a href="#/create">
                        <button type="button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}, { hide: isHide('/admin/id')}]" class="navbar navbar-right btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                </div>
            </div>
        </nav>
    </header>
</script>

<!-- Footer directive template-->
<script type="text/ng-template" id="app/common/templates/msg-footer.tpl.html">
    <footer class="main-background">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img class="footer-logo" src="images/logos/messengers-logo_black.png">
                <div class="footer-icons">
                    <a href="https://facebook.com/mesengers.lviv"><img class="footer-icons-icon" src="images/icons/facebook-round-icon.png"></a>
                    <a href="https://instagram.com/mesengers.lviv"><img class="footer-icons-icon" src="images/icons/instagram-round-icon.png"></a>
                    <a href="https://twitter.com/mesengers.lviv"><img class="footer-icons-icon" src="images/icons/twitter-round-icon.png"></a>
                </div>
            </div>
            <div class="footer-titles col-xs-12 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background"><a href="#/">Головна</a></li>
                    <li class="list-group-item main-background"><a href="#/conditions">Послуги та ціни</a></li>
                    <li class="list-group-item main-background"><a href="#/#partnership">Партнерство</a></li>
                    <li class="list-group-item main-background"><a href="#/login">Admin Log in</a></li>
                </ul>
            </div>
            <div class="footer-contacts col-xs-12 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/phone-icon.png">
                        <a href="tel:0978654321">+38 097 8654321</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/phone-icon.png">
                        <a href="tel:0501234567">+38 050 1234567</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/email-icon.png">
                        <a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/skype-icon.png">
                        <a href="skype:messengers.lviv?add">messengers.lviv</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</script>