.main-background {
	background-color: $main-background;
}
.features-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}
.pull-left {
  margin-right: 40px;
}
.pull-right {
  margin-left: 40px;
}
