<msg-header></msg-header>
<main class="main-page">
    <div class="main-image">
        <img class="main-image-pic" src="images/main/main-image.jpg">
        <div class="main-image-logo">
            <img class="main-image-logo-pic img-responsive" src="images/logos/messengers-logo_white.png">
        </div>
        <h3 class="main-image-h3"><b>Nothing works faster</b></h3>
    </div>
    <!-- ROW with three circle images-->
    <div class="row">
        <h2 class="features-heading text-center ">Категорії послуг</h2>
        <hr class="features-divider">
        <div class="col-md-4 text-center">
            <img class="row-img img-circle" src="images/main/premium-delivery-logo.png">
            <h2>Термінова</h2>
            <p class="lead">Найшвидший варіант. <span class="text-muted">Забір та доставка вантажу відбуваються протягом однієї години. Термінове замовлення має бути розміщене не пізніше 17:00 поточного дня</span></p>
        </div>
        <div class="col-md-4 text-center">
            <img class="row-img img-circle" src="images/main/standard-delivery-logo.png">
            <h2>Стандарт</h2>
            <p class="lead">Стандартна опція. <span class="text-muted">Замовлення виконується протягом трьох годин. Розміщення замовлення до 15:00 поточного дня. Всі замовлення зроблені пізніше доставляються до 11:00 наступного дня</span></p>
        </div>
        <div class="col-md-4 text-center">
            <img class="row-img img-circle" src="images/main/economy-delivery-logo.png">
            <h2>Економ</h2>
            <p class="lead">Найбільш економний варіант. <span class="text-muted">Забір та доставка відбуваються протягом дня до 18:00. Замовлення має бути зроблене до 12:00. Замовлення, що розміщені після 12:00 виконуються протягом доби з моменту розміщення</span></p>
        </div>
    </div>
    <!-- /ROW -->
    <!-- START THE FEATURES -->
    <div class="features main-background">
        <div class="features-image-box pull-right">
            <img class="img-responsive img-circle" src="images/main/main-circle-5.jpg">
        </div>
        <div class="features-inner-txtblock">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="features-heading">Ми працюємо:</h2>
                </div>
                <table class="features-table-schedule table table-hover lead  main-background">
                    <tr>
                        <td>Понеділок - п'ятниця</td>
                        <td>з 09:00 до 18:00</td>
                    </tr>
                    <tr>
                        <td>Субота</td>
                        <td>з 09:00 до 17:00</td>
                    </tr>
                    <tr>
                        <td>Неділя</td>
                        <td>вихідний</td>
                    </tr>
                </table>
            </div>
            <p class="lead">За домовленістю ми розглянемо виконання замовлення в неробочий час</p>
        </div>
    </div>
    <div class="features">
        <div class="features-image-box pull-left">
            <img class="img-responsive img-circle" src="images/main/main-circle-4.jpg">
        </div>
        <h2 class="features-heading">Як зробити замовлення</h2>
        <p class="lead">Для того щоб замовити доставку скористайтесь <a href="#/create">формою замовлення</a>. Заповніть всі поля та відправте дані. Протягом 20 хвилин з вами зв'яжеться диспетчер та уточнить деталі і час виконання.</p>
        <p class="lead">Замовлення також можна зробити зателефонувавши нам або за допомогою <a href="skype:messengers.lviv?add">Skype</a>.</p>
    </div>
    <div class="features main-background">
        <div class="features-image-box pull-right">
            <img class="img-responsive img-circle" src="images/main/main-circle-7.jpg">
        </div>
        <h2 class="features-heading">Чому велосипед</h2>
        <p class="lead">По-перше, це найбільш практичний вибір для сучасного міста. Ми ніколи не залежимо від трафіку, одже гарантуємо вчасну доставку на 100%.</p>
        <p class="lead">По-друге, ми піклуємось про наше місто і не хочемо спричиняти додаткових шкідливих викидів та шуму. Ми бачимо потенціал в більш чистому та безпечному навколишньому середовищі та віримо, що велосипед відіграє в цьому визначну роль.</p>
        <p class="lead">Замовляючи в нас доставку, ви робите свій внесок у розвиток більш екологічної транспортної культури.</p>
    </div>
    <div class="features" id="partnership">
        <div class="features-image-box pull-left">
            <img class="img-responsive img-circle" src="images/main/main-circle-6.jpg">
        </div>
        <h2 class="features-heading">Партнерство</h2>
        <p class="lead">Bike messengers це більше ніж звичайна доставка. Ми ваша професійна логістична команда на двох колесах. Ми можемо взяти на себе ваші регулярні потреби у логістиці - роздрібну дистрибуцію для мереж харчування (піццерій, ресторанів, кафе), міжофісну доставку документації, дрібні доручення, доставку/отримання кур'єрської пошти та ще багато іншого. Необхідно доставити меню для проведення бізнес-ланчу? Обміняти ваучери на залізничні квитки в касах?
            <br> Дозвольте нам піклуватись цими повсякденними задачами щоб ви могли фокусуватись на більш важливих речах.</p>
    </div>
    <!-- /END THE FEATURES -->
</main>
<msg-footer></msg-footer>
<!-- Header directive template-->
<script type="text/ng-template" id="app/common/templates/msg-header.tpl.html">
    <header data-ng-class="{hide: isHide('/login')}">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <img class="navbar-brand-logo" src="images/logos/messengers-logo_white.png" alt="Messengers delivery logo">
                    </a>
                    <a href="#/create">
                        <button type="button" id="toggle-button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}]" class="navbar navbar-toggle collapsed btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Bike messengers</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{ active: isActive('/')}"><a href="#/">Головна</span></a></li>
                        <li data-ng-class="{ active: isActive('/conditions')}" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Тарифи та умови <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/conditions">Карта доставки</a></li>
                                <li><a href="#/conditions#prices">Тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#add-prices">Додаткові тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#payment">Способи оплати</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контакти <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Телефони</li>
                                <li><a href="tel:0978654321">+38 097 8654321</a></li>
                                <li><a href="tel:0501234567">+38 050 1234567</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">E-mail</li>
                                <li><a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Skype</li>
                                <li><a href="skype:messengers.lviv?add">messengers.lviv</a></li>
                            </ul>
                        </li>
                        <li data-ng-class="{ active: isActive('/admin')}"><a href="#/admin">Admin page</a></li>
                        <li data-ng-if="currentUser() !== null"><a href=""><span class="glyphicon glyphicon-user"></span> {{currentUser()}}</a></li>
                        <li data-ng-if="currentUser() !== null"><a href="" ng-click="signout()">Log out</a></li>
                    </ul>
                    <a href="#/create">
                        <button type="button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}, { hide: isHide('/admin/id')}]" class="navbar navbar-right btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                </div>
            </div>
        </nav>
    </header>
</script>
<!-- Footer directive template-->
<script type="text/ng-template" id="app/common/templates/msg-footer.tpl.html">
    <footer class="main-background">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img class="footer-logo" src="images/logos/messengers-logo_black.png">
                <div class="footer-icons">
                    <a href="https://facebook.com/mesengers.lviv"><img class="footer-icons-icon" src="images/icons/facebook-round-icon.png"></a>
                    <a href="https://instagram.com/mesengers.lviv"><img class="footer-icons-icon" src="images/icons/instagram-round-icon.png"></a>
                    <a href="https://twitter.com/mesengers.lviv"><img class="footer-icons-icon" src="images/icons/twitter-round-icon.png"></a>
                </div>
            </div>
            <div class="footer-titles col-xs-12 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background"><a href="#/">Головна</a></li>
                    <li class="list-group-item main-background"><a href="#/conditions">Послуги та ціни</a></li>
                    <li class="list-group-item main-background"><a href="#/#partnership">Партнерство</a></li>
                    <li class="list-group-item main-background"><a href="#/login">Admin Log in</a></li>
                </ul>
            </div>
            <div class="footer-contacts col-xs-12 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/phone-icon.png">
                        <a href="tel:0978654321">+38 097 8654321</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/phone-icon.png">
                        <a href="tel:0501234567">+38 050 1234567</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/email-icon.png">
                        <a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="images/icons/skype-icon.png">
                        <a href="skype:messengers.lviv?add">messengers.lviv</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</script>
