<header data-ng-class="{hide: isHide('/login')}">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <img class="navbar-brand-logo" src="app/main-page/images/messengers-logo_white.png" alt="Messengers delivery logo">
                    </a>
                    <a href="#/create">
                        <button type="button" id="toggle-button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}]" class="navbar navbar-toggle collapsed btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Bike messengers</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{ active: isActive('/')}"><a href="#/">Головна</span></a></li>
                        <li data-ng-class="{ active: isActive('/conditions')}" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Тарифи та умови <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/conditions">Карта доставки</a></li>
                                <li><a href="#/conditions#prices">Тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#add-prices">Додаткові тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#payment">Способи оплати</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контакти <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Телефони</li>
                                <li><a href="tel:0978654321">+38 097 8654321</a></li>
                                <li><a href="tel:0501234567">+38 050 1234567</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">E-mail</li>
                                <li><a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Skype</li>
                                <li><a href="skype:messengers.lviv?add">messengers.lviv</a></li>
                            </ul>
                        </li>
                        <li data-ng-class="{ active: isActive('/admin')}"><a href="#/admin">Admin page</a></li>
                        <li data-ng-if="currentUser !== null"><a href=""><span class="glyphicon glyphicon-user"></span> {{currentUser}}</a></li>
                        <li data-ng-if="currentUser !== null"><a href="" ng-click="signout()">Log out</a></li>
                    </ul>
                    <a href="#/create">
                        <button type="button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}, { hide: isHide('/admin/id')}]" class="navbar navbar-right btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                </div>
            </div>
        </nav>
    </header>