<footer class="main-background">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4">
                <img class="footer-logo" src="../../images/logos/messengers-logo_black.png">
                <div class="footer-icons">
                    <a href="https://facebook.com/mesengers.lviv"><img class="footer-icons-icon" src="../../images/icons/facebook-round-icon.png"></a>
                    <a href="https://instagram.com/mesengers.lviv"><img class="footer-icons-icon" src="../../images/icons/instagram-round-icon.png"></a>
                    <a href="https://twitter.com/mesengers.lviv"><img class="footer-icons-icon" src="../../images/icons/twitter-round-icon.png"></a>
                </div>
            </div>
            <div class="footer-titles hidden-xs col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background"><a href="#/">Головна</a></li>
                    <li class="list-group-item main-background"><a href="#/conditions">Послуги та ціни</a></li>
                    <li class="list-group-item main-background"><a href="#/#partnership">Партнерство</a></li>
                    <li class="list-group-item main-background"><a href="#/login">Admin Log in</a></li>
                </ul>
            </div>
            <div class="footer-contacts col-xs-6 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="../../images/icons/phone-icon.png">
                        <a href="tel:0978654321">+38 097 8654321</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="../../images/icons/phone-icon.png">
                        <a href="tel:0501234567">+38 050 1234567</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="../../images/icons/email-icon.png">
                        <a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="../../images/icons/skype-icon.png">
                        <a href="skype:messengers.lviv?add">messengers.lviv</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>