<!DOCTYPE html>
<html data-ng-app="messengers-app">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="доставка, кур'єр, терміново, купити, відвезти, велокурьер, Львів">
    <meta name="description" content="Велокур'єрська доставка Bike messengers | усі види кур'єрських послуг у Львові">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="app/main-page/images/messengers-logo_black.png">
    <title ng-bind="title"></title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Andika&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Philosopher|Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->
    <!-- JavaScript -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angularbknd-sdk/dist/backand.min.js"></script>
    <script src="https://api.backand.com:4000/socket.io/socket.io.js"></script>
    <script data-require="google-maps@1.0.0" data-semver="1.0.0" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- App -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="app/main-page/main-page.controller.js"></script>
    <script type="text/javascript" src="app/conditions-page/conditions-page.controller.js"></script>
    <script type="text/javascript" src="app/conditions-page/modal-calc-distance.controller.js"></script>
    <script type="text/javascript" src="app/conditions-page/modal-empty-map.controller.js"></script>
    <script type="text/javascript" src="app/create-page/create-page.controller.js"></script>
    <script type="text/javascript" src="app/admin-page/admin-page.controller.js"></script>
    <script type="text/javascript" src="app/admin-page/modal-confirm-del.controller.js"></script>
    <script type="text/javascript" src="app/edit-order-page/edit-order-page.controller.js"></script>
    <script type="text/javascript" src="app/login-page/login-page.controller.js"></script>
    <script type="text/javascript" src="app/common/controllers/header.controller.js"></script>
    <script type="text/javascript" src="app/common/services/orders.service.js"></script>
    <script type="text/javascript" src="app/common/directives/messengers-header.directive.js"></script>
</head>

<body>
    <header data-ng-class="{hide: isHide('/login')}" data-ng-controller="HeaderController">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">
                        <img class="navbar-brand-logo" src="app/main-page/images/messengers-logo_white.png" alt="Messengers delivery logo">
                    </a>
                    <a href="#/create">
                        <button type="button" id="toggle-button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}]" class="navbar navbar-toggle collapsed btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Bike messengers</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{ active: isActive('/')}"><a href="#/">Головна</span></a></li>
                        <li data-ng-class="{ active: isActive('/conditions')}" class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Тарифи та умови <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/conditions">Карта доставки</a></li>
                                <li><a href="#/conditions#prices">Тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#add-prices">Додаткові тарифи</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/conditions#payment">Способи оплати</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Контакти <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Телефони</li>
                                <li><a href="tel:0978654321">+38 097 8654321</a></li>
                                <li><a href="tel:0501234567">+38 050 1234567</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">E-mail</li>
                                <li><a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Skype</li>
                                <li><a href="skype:messengers.lviv?add">messengers.lviv</a></li>
                            </ul>
                        </li>
                        <li data-ng-class="{ active: isActive('/admin')}"><a href="#/admin">Admin page</a></li>
                        <li data-ng-if="currentUser !== null"><a href=""><span class="glyphicon glyphicon-user"></span> {{currentUser}}</a></li>
                        <li data-ng-if="currentUser !== null"><a href="" ng-click="signout()">Log out</a></li>
                    </ul>
                    <a href="#/create">
                        <button type="button" data-ng-class="[{ hide: isHide('/create')}, { hide: isHide('/admin')}, { hide: isHide('/admin/id')}]" class="navbar navbar-right btn btn-warning"><b>Замовити доставку</b></button>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div data-ng-view></div>
    <footer class="main-background" data-ng-class="{hide: isHide('/login')}" data-ng-controller="HeaderController">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img class="footer-logo" src="app/main-page/images/messengers-logo_black.png">
                <div class="footer-icons">
                    <a href="https://facebook.com/mesengers.lviv"><img class="footer-icons-icon" src="app/main-page/images/icons/facebook-round-icon.png"></a>
                    <a href="https://instagram.com/mesengers.lviv"><img class="footer-icons-icon" src="app/main-page/images/icons/instagram-round-icon.png"></a>
                    <a href="https://twitter.com/mesengers.lviv"><img class="footer-icons-icon" src="app/main-page/images/icons/twitter-round-icon.png"></a>
                </div>
            </div>
            <div class="footer-titles col-xs-12 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background"><a href="#/">Головна</a></li>
                    <li class="list-group-item main-background"><a href="#/conditions">Послуги та ціни</a></li>
                    <li class="list-group-item main-background"><a href="#/#partnership">Партнерство</a></li>
                    <li class="list-group-item main-background"><a href="#/login">Admin Log in</a></li>
                </ul>
            </div>
            <div class="footer-contacts col-xs-12 col-sm-4 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="app/main-page/images/icons/phone-icon.png">
                        <a href="tel:0978654321">+38 097 8654321</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="app/main-page/images/icons/phone-icon.png">
                        <a href="tel:0501234567">+38 050 1234567</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="app/main-page/images/icons/email-icon.png">
                        <a href="mailto:info@messengers.lviv.ua">info@messengers.lviv.ua</a>
                    </li>
                    <li class="list-group-item main-background">
                        <img class="footer-icons-contact" src="app/main-page/images/icons/skype-icon.png">
                        <a href="skype:messengers.lviv?add">messengers.lviv</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</script>

</html>
